/* Change all pixels to rem */
body {
    margin: 0;
    padding: 0;
}

.topr-icons {
    background-color:rgb(88, 88, 238);
    text-align: right;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #4b4bb3;
    color: white;
    justify-content: space-between;
    height: 60px;
}

.nav-l {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    margin-left: 18px;
}

.nav-l h2 {
    display: inline;
    font-size: 29px;
    margin-left: 47px;
    font-weight: 100;
}

.nav-l span { 
    margin-left: 3px;
    font-size: 26px;
 }

.nav-r { margin-right: 35px; }

.mag { margin-right: 20px; }

.container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(7, minmax(80px, auto));
}

.name, .phone, .address, .city, .address-state, .email, .birthday { 
    justify-self: center;
    align-self: center;
}

.name input {
    height: 64px;
    width: 360px;
    text-indent: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f0ecec;
    font-size: 16px;
}

.name span {
    font-size: 29px;
    position: relative;
    top: 5px;
    right: 16px;
}

.phone {
    position: relative;
    left: 4px;
}

.phone span {
    font-size: 29px;
    position: relative;
    top: 5px;
    right: 23px;
}

.phone input {
    height: 59px;
    width: 160px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.phone select {
    height: 64px;
    width: 163px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    margin-left: 27px;
}

.address span {
    font-size: 29px;
    position: relative;
    top: 5px;
    right: 23px;
}

.address input {
    height: 64px;
    width: 360px;
    text-indent: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f0ecec;
    font-size: 16px;
}

.city input {
    height: 64px;
    width: 360px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    position: relative;
    left: 21px;
}

.state-zip {
    position: relative;
    left: 20px;
}

.state-zip select {
    height: 64px;
    width: 163px;
    text-indent: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f0ecec;
    font-size: 16px;
}

.state-zip input {
    height: 61px;
    width: 160px;
    text-indent: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f0ecec;
    font-size: 16px;
    margin-left: 32px;
}

.email span {
    font-size: 29px;
    position: relative;
    top: 5px;
    right: 16px;
}

.email input {
    height: 64px;
    width: 360px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    position: relative;
    left: 5px;
}

.birthday span {
    font-size: 29px;
    position: relative;
    top: 5px;
    right: 16px;
}

.birthday input {
    height: 64px;
    width: 360px;
    text-indent: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f0ecec;
    font-size: 20px;
    padding-right: 3px;
}